html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #071221;
}

#canvas {
    display: none;
}

.loading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    border: 10px solid #41665e;
    border-top: 10px solid #57dcc0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loading-text {
    margin-top: 30px;
    font-size: 80px;
    color: #57dcc0;
    font-family: Arial, sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 20px 20px;
    color: white;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: semibold;
    }
}

.text {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}
