html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

#canvas {
    display: none;
}

.loading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    border: 10px solid gray;
    border-top: 10px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loading-text {
    margin-top: 30px;
    font-size: 80px;
    color: gray;
    font-family: Arial, sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 20px 20px;
    color: white;
}

.button p {
    margin: 0;
    font-size: 20px;
    font-weight: semibold;
}

.text {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.dev-mode-button {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255, 255, 255, 0.3);
    background: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0px 20px;
    color: white;
    font-size: 20px;
    font-weight: semibold;
    line-height: 0;
    cursor: pointer;

    transition: background 1s, border 1s, color 1s;
}

.dev-mode-button p {
    user-select: none;
}

.dev-mode-button.active {
    background: rgb(255, 255, 255, 0.3);
    border: rgb(0, 0, 0, 0.1);
    color: black;
}
